/*
 * @Author: GangHuang harleysor@qq.com
 * @Date: 2026-02-01 22:57:03
 * @LastEditors: GangHuang harleysor@qq.com
 * @LastEditTime: 2026-02-01 22:57:15
 * @FilePath: /MLC_React/src/manager_antd/page_modules/profile/hg_profile.module.css
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */
/* src/pages/Profile.module.css */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 32px;
}

.infoItem {
  margin: 12px 0;
  line-height: 1.6;
}
