/* src/components/HGTopNavLayout.module.css */
.layout {
  min-height: 100vh;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.menuLink {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 100%;
}

.menuLink:hover {
  color: #fff;
}

.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}