:root {
  --cm-hg-max-mobileW: 1024px; /*移动端手机屏幕最大宽度*/
  --cm-hg-pc-font14: 14px; /*pc端16px字体大小*/
  --cm-hg-mobile-font14: 0.14rem; /*移动端16px字体大小*/
  --cm-hg-pc-font16: 16px;
  --cm-hg-mobile-font16: 0.16rem;
  --cm-hg-style: #f5f7fa;
  --cm-hg-radius-default: 3px;
  --cm-hg-border-level-2-color: #dcdcdc;
  --cm-hg-dt-color-specialcomponent: #fff;
  --cm-hg-dt-color-hover: blue;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
