.container {
  margin: 80px auto;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  width: 100vw;
  height: 100vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  background: #f5f7fa;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.codeRow {
  display: flex;
  gap: 8px;
}

.codeRow input {
  flex: 1;
}
